<div id="main">
  <app-filters-small [modelFilter]="filterModel"></app-filters-small>
  <div class="main-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div fxFlex="33" fxFlex.lt-md="0" class="filter-big-container" fxLayoutAlign="center start">
      <mat-card fxLayout="column" fxLayoutAlign="start center" class="filter-card">
        <h3>Filtres</h3>
        <app-filter></app-filter>
      </mat-card>
    </div>
    <div fxFlex="66" fxFlex.lt-md="100">
      <app-message (give)="onGive($event)" *ngFor="let demand of demands" [demand]="demand"></app-message>
    </div>
  </div>
</div>
