<mat-card fxLayout="column">
  <div fxFlex="40" fxLayout="row">
    <div fxLayoutAlign="center center" fxFlex="33">
      <img src="{{demand.img}}" alt="img" />
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="66">
      <h3>{{demand.author}}</h3>
      <p>
        {{demand.description}}
      </p>
    </div>
  </div>
  <div fxFlex="10" fxLayout="row">
    <div fxFlex="80" fxLayoutAlign="center center">
      <mat-progress-bar mode="determinate" value="{{(demand.currentQuantity / demand.requestedQuantity) * 100}}"></mat-progress-bar>
    </div>
    <div fxFlex="20" fxLayoutAlign="center center">
      <h4 *ngIf="demand.currentQuantity !== demand.requestedQuantity" class="center-align">{{demand.currentQuantity}} sur {{demand.requestedQuantity}}</h4>
      <h4 *ngIf="demand.currentQuantity === demand.requestedQuantity" class="center-align">Demande complétée, merci !</h4>
    </div>
  </div>
  <div fxFlex="50" fxLayout="row">
    <mat-accordion fxFlex="75">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Commentaires ({{demand.comments.length}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let comment of demand.comments">
          <app-comment [comment]="comment"></app-comment>
          <mat-divider></mat-divider>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
    <div fxFlex="25" fxLayoutAlign="center center">
      <button mat-raised-button color="primary"
              (click)="demand.currentQuantity = demand.currentQuantity + 1"
              [disabled]="demand.currentQuantity === demand.requestedQuantity">Donner</button>
    </div>
  </div>
</mat-card>
