<mat-card fxLayout="column">
  <div fxFlex="40" fxLayout="row">
    <div fxLayoutAlign="center center" fxFlex="33">
      <img *ngIf="demand.img" src="{{demand.img}}" alt="img" />
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="66">
      <h3>{{demand.site.organization.name}} - {{demand.site.name}}</h3>
      <h4>{{demand.title}}</h4>
      <p>
        {{demand.description}}
      </p>
    </div>
  </div>
  <div fxFlex="10" fxLayout="row">
    <div fxFlex="80" fxLayoutAlign="center center">
      <mat-progress-bar *ngIf="demand.type === 'request'" mode="determinate" value="{{(demand.currentQuantity / demand.requestedQuantity) * 100}}"></mat-progress-bar>
    </div>
    <div fxFlex="20" fxLayoutAlign="center center">
      <h4 *ngIf="demand.currentQuantity !== demand.requestedQuantity" class="center-align">{{demand.currentQuantity}} sur {{demand.requestedQuantity}}</h4>
      <h4 *ngIf="demand.currentQuantity === demand.requestedQuantity" class="center-align">Demande complétée, merci !</h4>
    </div>
  </div>
  <div fxFlex="50" fxLayout="row">
    <mat-accordion fxFlex="75" *ngIf="demand.comments">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Commentaires ({{demand.comments.length}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let comment of demand.comments">
          <app-comment [comment]="comment"></app-comment>
          <mat-divider></mat-divider>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div fxFlex *ngIf="!demand.comments">
      <span>Pas de commentaires</span>
    </div>
    <div *ngIf="demand.type === 'request'" fxFlex="25" fxLayoutAlign="center center">
      <button *ngIf="!loading" mat-raised-button color="primary"
              (click)="onClickGive()"
              [disabled]="demand.currentQuantity === demand.requestedQuantity">Donner</button>
      <mat-spinner *ngIf="loading" [diameter]="24"></mat-spinner>
    </div>
  </div>
</mat-card>
