<div fxLayout="column">
  <agm-map [latitude]="mapData.lat" [longitude]="mapData.lng" [zoom]="mapData.zoom">
    <agm-marker *ngIf="marker" [longitude]="marker.lng" [latitude]="marker.lat"></agm-marker>
  </agm-map>

  <form fxLayout="column" fxLayoutAlign="center center" class="form-container"
        [formGroup]="creaSite" (ngSubmit)="validate(creaSite)">
    <mat-form-field>
      <mat-label>Nom du site</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Adresse</mat-label>
      <input matInput (focusout)="pinpoint()" formControlName="address"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Décrivez ce que fait votre association</mat-label>
      <textarea maxlength="255" matInput formControlName="description" required></textarea>
      <mat-hint align="end">{{creaSite.value.description.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ce site appartient à</mat-label>
      <mat-select formControlName="organization">
        <mat-option *ngFor="let a of organizations" [value]="a.id">
          {{a.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayoutAlign="center center">
      <button *ngIf="!isLoading()" mat-button type="submit">Valider</button>
      <mat-spinner *ngIf="isLoading()" diameter="36"></mat-spinner>
    </div>
  </form>
</div>

