<app-navbar [sidenav]="drawer"></app-navbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="over" role="navigation">
    <div class="username-container">
      <b *ngIf="userService.user">{{userService.user.username}}</b>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" routerLink='/user'>Mon profil</a>
      <a mat-list-item (click)="drawer.toggle(); userService.logout()">Se déconnecter</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
