main {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media screen and (min-width: 960px) {
  app-filters-small {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  .filter-big-container {
    display: none !important;
  }

  app-demand {
    width: 100%;
  }
}

.filter-card {
  position: fixed;
  left: 0;
  top: 20%;
  width: 30%;
}

app-demand {
  padding: 5%;
}
