@media screen and (min-width: 960px) {
  app-filters-small {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  .filter-big-container {
    display: none !important;
  }
}

app-demand {
  padding: 5%;
}

#main {
  height: calc(100vh - 64px);
  background-color: #fafafa;
  overflow-y: auto;
}

.filter-card {
  position: fixed;
  left: 0;
  top: 20%;
  width: 30%;
}
