<form fxLayout="column" fxLayoutAlign="center center" class="center-align"
      [formGroup]="joinAsso" (ngSubmit)="validate(joinAsso)">
  <span>Je suis membre d'une association et je souhaite la rejoindre dans Bref-N-Share</span>
  <mat-form-field *ngIf="site">
    <mat-label>Je souhaite rejoindre le site</mat-label>
    <mat-select formControlName="siteForm">
      <mat-option *ngFor="let a of site" [value]="a">
        {{a.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="!isLoading()" mat-button type="submit">Valider</button>
  <mat-spinner *ngIf="isLoading()" diameter="36"></mat-spinner>
</form>
