<main fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="createDemand" (submit)="submit($event)" fxLayout="column" fxLayoutAlign="center center">
    <h1>Créer une demande</h1>
    <mat-form-field class="full-width">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="title"/>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Décrivez votre demande" formControlName="description"></textarea>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width bottom-fields-container">
      <mat-form-field fxFlex="45" class="full-width">
        <mat-label>Quantité requise</mat-label>
        <input matInput type="number" formControlName="requestedQuantity"/>
      </mat-form-field>
      <mat-form-field fxFlex="45" class="full-width">
        <mat-label>Catégorie</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let cat of categories" [value]="cat.id">
            {{cat.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="!loading">
      <button mat-button type="submit">Valider</button>
    </div>
    <div *ngIf="loading">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </form>
</main>
