<h1>Notifier vos followers</h1>
<main fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" class="">
  <div fxFlex="33">
    <app-facebook></app-facebook>
  </div>
  <div fxFlex="33" fxFlex.lt-md="100">
    <h2>Twitter</h2>
  </div>
  <div fxFlex="33" fxFlex.lt-md="100">
    <h2>Notifier l'application mobile</h2>
  </div>
</main>
<!-- https://graph.facebook.com/v5.0/feed?message=Hello word !&access_token=EAAJRO4q1zMkBAOvTLoJBJiaKBcJpXaRbiZBioecBBBuT8v3HC0pwzZCMqVnudQaYbTzRCIEFcEudqKeAVcXGv5fJ3XFB7NacNIX8POHEeikxi3eOclnISEZCZBHsyTiCGj1PLv1qeX18NTkzrY27d03Ieu771U15hGM2zkhlM1qKZA5rImWGPXNKjsCbZAt9mvnIb6H6ZBt6wZDZD -->
